
*{
    font-family: 'Roboto', sans-serif;
    color: #ccc;
}

.hero-image {
    background-image: url('./images/hero-image.png');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-gradient{
    color: #002645;

    background: linear-gradient(180deg, rgba(149,213,240,0) 0%, rgba(149,213,240,0.75) 75%, rgba(149,213,240,0.85) 85%, rgba(149,213,240,1) 100%);
    
    border-radius: 15px;
    border: #FF4500 solid 3px;
    border-top:  0;
    border-left: 0;
}


h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 4rem;
    display: inline-block;
}

.avatar {
    width: fit-content;
    width: 6.5rem;
    padding: 0;
    border: #FF4500 solid 3px;
    border-radius: 50%;
    border-top: 0;
    border-left: 0;
}

.gradient-background {
    background-image: linear-gradient(180deg, #002645, #00336c, #0047a6, #005bdf);
}

#nav{
    background-color: #002645;
    border-bottom: #FF4500 solid 1px;
}

.nav-link, .navbar-brand {
    color: #fff;
}

.navbar-brand{
    border-right: #FF4500 solid 3px;
    padding-right: 1em;
}

.nav-link:hover{
    color: #FF4500;
    box-shadow: 0 2px 1px -1px #FF4500;
    transform: scale(110%);
}

.navbar-brand:hover{
    color: #FF4500;
}

.navbar-toggler{
    background-color: #FF4500;
    border: #fff solid 1px;
}

.display-2{
    color: #FF4500;
}

.opacity-2 {
    --bs-bg-opacity: .2
}

.card{
    font-size: 1.3rem;
    border: #FF4500 solid 1px;
}

.card-title {
    font-weight: 900;
    letter-spacing: .1rem;
    color: #002645;
    text-transform: uppercase;
}

hr {
    border: 0;
    height: 3px;
    margin: 0;
    margin-bottom: 1em;
    background-image: linear-gradient(to right, #00264500, #002645bf, #00264500);
}

.btn{
    border: #FF4500 solid 1px;
    background-color: #FF4500;
    width: 25%;
}

.btn:hover{
    border: #FF4500 solid 1px;
    transform: scale(110%);
    background-color: #FF4500;
}

.btn:active{
    transform: scale(90%);
    background-color: #002645;
}






footer{
    border-top: #FF4500 solid 2px;
}